.cards-grid {
    display: grid;
    gap: 20px;

    grid-template-areas:
    'a  b  c'
    'l  e  f';
    
    grid-template-columns: repeat(3, 1fr); //repeat(auto-fit, minmax(340px, 1fr));
    grid-auto-rows: 285px;
}

.card-wide {
    grid-column: span 2 / auto;
}