@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
    background: $background-color;
    color: $font-color;
}

.icon {
    display: block;
    width: $icon-size;
    height: $icon-size;
    box-shadow: $box-shadow;
    border-radius: 4px;
}

button {
    background-color: $blue-color;
    border-radius: 15px;
    padding: 8px 20px;
    color: $white-color;
    font-size: 10px;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    outline: none;
    text-transform: uppercase;

    &:hover {
        background-color: $default-button-color-hover;
    }
}

// charts
.chart-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 30px; // header height
    bottom: 0;
    left: 0;
    right: 0;

    .main-chart {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px 0;
    }
}
