$background-color: #F5F5F5;
$font-color: #A2A2A2;
$white-color: #ffffff;
$blue-color: #5E77FF;

// icons
$icon-size: 70px;
$box-shadow: 0 1px 4px 0 rgba(0,0,0,0.3);

// info-item
$info-item-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
$item-padding-vert: 10px;
$item-padding-horiz: 13px;
$divider: #EEEEEE;
$value-color: #3C4858;
$title-color: #7A7A7A;

// button
$default-button-color-hover: rgb(88, 108, 223);
