@import 'variables';

.chart-central-icon {
    position: absolute;
    display: flex;

    .male-icon, .female-icon {
        display: block;
        width: 15px;
        height: 55px;
    }

    .male-icon {
        background: no-repeat center/83% url("/assets/icons/Male.svg");
    }

    .female-icon {
        background: no-repeat center/100% url("/assets/icons/Female.svg");
    }
}

.bottom {
    display: flex;
    border-top: 1px solid $divider;
    padding: 8px 0;
}

.legend {
    margin-left: 40px;
    display: flex;
    align-items: center;
    color: $value-color;

    .circle-male {
        margin-right: 10px;
    }

    .male {
        background-color: rgba(188, 93, 230, 1);
    }

    .female {
        background-color: rgba(94, 119, 255, 1);
    }
}